{% extends "main/main.html" %}

{% block content %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand h1 mb-0 font-weight-bold ">CRUD POKEMON</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSite">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="delete_account">
                    <a href="#" class="nav-link font-weight-bold">{{user.name}}</a>
                </li>
                <li class="nav-item" id="news">
                    <a href="/logout" class="nav-link font-weight-bold">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{%with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container"><div class="alert alert-success">{{message}}</div></div>

{% endfor %}
{% endif %}
{%endwith%}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <p class="fs-2 fw-bold">POKEMONS</p>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add">ADD</button>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pokemons %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.height}}</td>
                <td>{{i.weight}}</td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-warning btn-block" data-toggle="modal"
                                data-target="#view"
                                onclick="push2('{{i.name}}', '{{i.height}}', '{{i.weight}}', '{{i.base_experience}}')">VIEW</button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                                data-target="#update"
                                onclick="push('{{i.name}}', '{{i.height}}', '{{i.weight}}', '{{i.base_experience}}', '{{i._id}}')">UPDATE</button>
                        </div>

                        <div class="col-md-4">
                            <form action="/pokemon/delete" method="post" class="d-grid"><input type="hidden" name="id"
                                    value="{{i._id}}"><button type="submit"
                                    class="btn btn-danger btn-block">DELETE</button></form>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>

<!-- ADD POKEMON -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalLongoExemplo">ADD POKEMON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/pokemon/add" method="post">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name">
                    <br>
                    <label for="height">Height:</label>
                    <input type="text" class="form-control" name="height">
                    <br>
                    <label for="weighth">weight:</label>
                    <input type="text" class="form-control" name="weight">
                    <br>
                    <label for="cpf">Base experience:</label>
                    <input type="text" class="form-control" name="base_experience">
                    <br>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE POKEMON -->
<div class="modal fade" id="update" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalLongoExemplo">UPDATE POKEMON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/pokemon/update" method="post">
                    <input type="hidden" id="Edit_id" name="id">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="Edit_name" name="name">
                    <br>
                    <label for="height">Height:</label>
                    <input type="text" class="form-control" id="Edit_height" name="height">
                    <br>
                    <label for="weight">Weight:</label>
                    <input type="text" class="form-control" id="Edit_weight" name="weight">
                    <br>
                    <label for="base_exprerience">Base experience:</label>
                    <input type="text" class="form-control" id="Edit_base_experience" name="base_experience">
                    <br>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- VIEW POKEMON -->
<div class="modal fade" id="view" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalLongoExemplo">VIEW POKEMON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="View_name"></p>
                <p id="View_height"></p>
                <p id="View_weight"></p>
                <p id="View_base_exprerience"></p>
            </div>
        </div>
    </div>
</div>

<script>
    function push(name, height, weight, base_experience, id) {
        document.getElementById('Edit_id').value = id
        document.getElementById('Edit_name').value = name
        document.getElementById('Edit_height').value = height
        document.getElementById('Edit_weight').value = weight
        document.getElementById('Edit_base_experience').value = base_experience
    }
    function push2(name, height, weight, base_experience, id) {
        document.getElementById('View_name').innerHTML = '<strong>Name: </strong> ' + name
        document.getElementById('View_height').innerHTML = '<strong>Height: </strong> ' + height
        document.getElementById('View_weight').innerHTML = '<strong>Weight: </strong> ' + weight
        document.getElementById('View_base_exprerience').innerHTML = '<strong>Base experience: </strong> ' + base_experience
    }
</script>
{% endblock %}