{% extends "main/main.html" %}
{% block css %}
<link href="static/css/login.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container">

    <div class="myForm">
        <h1 class="mb-5">LOGIN</h1>
        {%with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
        {% endif %}
        {%endwith%}

        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" placeholder="something@something">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="*****">
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <p>Don't have account? <a href="/register">Sign up</a></p>
    </div>




</div>








































{% endblock %}